@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    display: flex;
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 250px;
    background-color: #3c78a6;
    color: #fff;
    height: 100vh;
    position: fixed;
    transition: width 0.3s;
  }
  
  .sidebar.close {
    width: 60px;
  }
  
  .sidebar .logo {
    display: block;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    background-color: #3c78a6;
  }
  
  .sidebar .menu-content {
    padding: 20px;
  }
  
  .sidebar .menu-title {
    padding: 10px 0;
    font-size: 1.2em;
    color: #bbb;
  }
  
  .sidebar .menu-items {
    list-style: none;
  }
  
  .sidebar .item {
    padding: 10px 0;
  }
  
  .sidebar .item a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .sidebar .submenu-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;
  }
  
  .sidebar .submenu {
    list-style: none;
    padding-left: 20px;
    display: none;
  }
  
  .sidebar .submenu-active {
    display: block;
  }
  
  .sidebar .submenu .menu-title {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .fa-chevron-right,
  .fa-chevron-left {
    color: #fff;
  }
  
  /* Navbar styles */
  .navbar {
    width: calc(100% - 250px);
    height: 50px;
    background-color: #a1bde1;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 250px;
    transition: left 0.3s, width 0.3s;
  }
  
  #sidebar-toggle {
    cursor: pointer;
  }
  
  .sidebar.close ~ .navbar {
    left: 60px;
    width: calc(100% - 60px);
  }
  
  /* Main content styles */
  main {
    margin-left: 250px;
    padding: 60px 20px;
    transition: margin-left 0.3s;
    background-color: lightgrey;
  }
  
  .sidebar.close ~ main {
    margin-left: 250px;
  }

  .main {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
    width: calc(100% - 80px);
  }
  
  .main.sidebar-closed {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
  
  